.container{
    background:linear-gradient(to right,#fcba03,#5603fc);
    box-shadow: 3px 5px 8px black;
}

h1 {
    color: #ffffff;
    text-shadow: 2px 2px 5px black;

}
h2 {
    color: rgb(0,204,215);
    text-shadow: 1px 1px 3px darkblue;
}